html, body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #212121;
    --bg-color-2: #313131;
    --bg-color-3: #414141;
    --fg-color: #d7d7d7;
    --fg-color-2: #a7a7a7;
    --accent-color: #9879fd;
    --border-color: #606060;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #f7f7f7;
    --bg-color-2: #d7d7d7;
    --bg-color-3: #c7c7c7;
    --fg-color: #212121;
    --fg-color-2: #313131;
    --accent-color: #6853ad;
    --border-color: #777777;
  }
}

input, button {
  background-color: var(--bg-color-3);
  color: var(--fg-color);
  border: solid 1px var(--border-color);
  font-size: 16px;
  outline: none;
}

input:focus, button:hover {
  border-color: var(--accent-color);
}

button {
  cursor: pointer;
}

button:hover {
  color: var(--accent-color);
}
