html, body {
  margin: 0;
  height: 100%;
  background-color: var(--bg-color);
  color: var(--fg-color);
}

* {
  box-sizing: border-box;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-color: #212121;
    --bg-color-2: #313131;
    --bg-color-3: #414141;
    --bg-color-4: #515151;
    --fg-color: #d7d7d7;
    --fg-color-2: #a7a7a7;
    --accent-color: #9879fd;
    --border-color: #606060;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-color: #ffffff;
    --bg-color-2: #dfdfdf;
    --bg-color-3: #cfcfcf;
    --bg-color-4: #bfbfbf;
    --fg-color: #212121;
    --fg-color-2: #313131;
    --accent-color: #7b65c0;
    --border-color: #adadad;
  }
}

input, button, select {
  background-color: var(--bg-color-3);
  color: var(--fg-color);
  border: solid 1px var(--border-color);
  font-size: 16px;
  outline: none;
}

input:not(:disabled):focus, button:not(:disabled):hover, select:not(:disabled):hover {
  border-color: var(--accent-color);
}

button:not(:disabled):hover, select:not(:disabled):hover {
  color: var(--accent-color);
}

button, select {
  cursor: pointer;
}

button:disabled {
  background-color: var(--bg-color-4);
  color: var(--fg-color-2);
}

.head {
  display: flex;
  border-bottom: solid 1px var(--border-color);
  padding: 0.5em;
  width: 100%;
  height: 2.5em;
  min-height: 2.5em;
}

.badge {
  background-color: var(--bg-color-3);
  color: var(--fg-color-2);
  padding: 0.25em;
  font-size: 14px;
  user-select: none;
}
